In [ ]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df

  Initial Hire Date         Date      Salary
0       10-Sep-1984  01-Mar-2018   59,947.94
1       16-Aug-2003  07-Dec-2016   85,765.16
2       01-Oct-2008  01-Oct-2008  137,517.90
3       01-Feb-2011  14-Mar-2019   38,745.46

In [ ]:
inputs = df.drop('Initial Hire Date',axis='columns')
target = df['Initial Hire Date']

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le_Date = LabelEncoder()
le_Salary = LabelEncoder()

In [ ]:
inputs['Date_n'] = le_Date.fit_transform(inputs['Date'])
inputs['Salary_n'] = le_Salary.fit_transform(inputs['Salary'])
inputs.head()

          Date      Salary  Date_n  Salary_n
0  01-Mar-2018   59,947.94       0         2
1  07-Dec-2016   85,765.16       2         3
2  01-Oct-2008  137,517.90       1         0
3  14-Mar-2019   38,745.46       3         1

In [ ]:
inputs_n = inputs.drop(['Date','Salary'],axis='columns')
inputs_n

   Date_n  Salary_n
0       0         2
1       2         3
2       1         0
3       3         1

In [ ]:
from sklearn import tree

In [ ]:
model = tree.DecisionTreeClassifier()

In [ ]:
inputs_n

   Date_n  Salary_n
0       0         2
1       2         3
2       1         0
3       3         1

In [ ]:
target

0    10-Sep-1984
1    16-Aug-2003
2    01-Oct-2008
3    01-Feb-2011
Name: Initial Hire Date, dtype: object

In [ ]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [ ]:
model.score(inputs_n,target)

1.0

In [ ]:
model.predict([[2,3]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['16-Aug-2003'], dtype=object)